<section>
    <h2>Introduction</h2>
    <p>
        Welcome to {{COMPANY_NAME}} ({{COMPANY_LEGAL_NAME}}), By accessing or
        using our website and services, you agree to be bound by these Terms of
        Service. Please read these terms carefully, as they outline your rights,
        responsibilities, and the conditions under which you may use our
        services. If you do not agree with any part of these terms, you may not
        access or use our services.
    </p>
</section>

<section>
    <h2>Acceptance of Terms</h2>
    <p>
        By accessing our website or using our services, you acknowledge that you
        have read, understood, and agree to these Terms of Service and our
        Privacy Policy. We reserve the right to modify these terms at any time,
        and any changes will be effective immediately upon posting.
    </p>
</section>

<section>
    <h2>Use of Our Services</h2>
    <p>
        You agree to use our website and services only for lawful purposes and
        in compliance with all applicable laws and regulations. You must not:
    </p>
    <ul>
        <li>Interfere with or disrupt our website or servers.</li>
        <li>Attempt to gain unauthorized access to our systems or services.</li>
        <li>
            Use our services for any fraudulent, abusive, or illegal activities.
        </li>
    </ul>
</section>

<section>
    <h2>User Accounts</h2>
    <p>
        To access certain features of our services, you may be required to
        create an account. You agree to provide accurate, complete information
        and to update it as needed. You are responsible for maintaining the
        confidentiality of your account credentials and for any activities
        conducted under your account. Notify us immediately of any unauthorized
        use of your account.
    </p>
</section>

<section>
    <h2>Intellectual Property Rights</h2>
    <p>
        All content, logos, trademarks, and other intellectual property
        displayed on our website are owned by {{COMPANY_NAME}} or our licensors.
        You may not copy, distribute, modify, or create derivative works from
        our content without our express permission. Unauthorized use of our
        intellectual property is strictly prohibited.
    </p>
</section>

<section>
    <h2>Payments and Billing</h2>
    <p>
        If you purchase services from us, you agree to provide valid payment
        information and authorize us to charge for the services. All fees are
        due as stated on the website or as agreed upon with {{COMPANY_NAME}}. We
        reserve the right to modify fees or billing terms at any time.
    </p>
</section>

<section>
    <h2>Termination of Service</h2>
    <p>
        We reserve the right to suspend or terminate your access to our services
        if we believe you have violated these Terms of Service or engaged in any
        unlawful activities. You may also terminate your account at any time.
        Upon termination, all rights granted to you under these terms will cease
        immediately.
    </p>
</section>

<section>
    <h2>Limitation of Liability</h2>
    <p>
        To the fullest extent permitted by law, {{COMPANY_NAME}} shall not be
        liable for any direct, indirect, incidental, consequential, or punitive
        damages arising out of your use or inability to use our services. We
        provide our services “as is” and “as available,” without any warranties,
        express or implied.
    </p>
</section>

<section>
    <h2>Indemnification</h2>
    <p>
        You agree to indemnify and hold harmless {{COMPANY_NAME}}, its
        affiliates, and employees from any claims, liabilities, damages, or
        expenses (including legal fees) arising from your use of our services or
        violation of these Terms of Service.
    </p>
</section>

<section>
    <h2>Third-party Links</h2>
    <p>
        Our website may contain links to third-party websites. These links are
        provided for your convenience, but we do not endorse or control the
        content of these websites. You access third-party sites at your own risk
        and should review their terms and privacy policies.
    </p>
</section>

<section>
    <h2>Governing Law</h2>
    <p>
        These Terms of Service are governed by the laws of the Republic of
        Indonesia, without regard to its conflict of law provisions. Any
        disputes arising from these terms shall be resolved exclusively in the
        courts of the Republic of Indonesia.
    </p>
</section>

<section>
    <h2>Changes to These Terms</h2>
    <p>
        We may update these Terms of Service at any time. Any changes will be
        posted on this page with the updated date. By continuing to use our
        website and services after changes are made, you agree to the revised
        terms.
    </p>
</section>

<section>
    <h2>Contact Information</h2>
    <p>
        If you have any questions or concerns regarding these Terms of Service
        or our service practices, please contact us at:
    </p>
    <address>
        <strong>Company Name :</strong> {{COMPANY_NAME}}
        ({{COMPANY_LEGAL_NAME}})<br />
        <strong>Company Number :</strong> {{COMPANY_NUMBER}}<br />
        <strong>Company VAT :</strong> {{COMPANY_VAT}}
        <br />
        <strong>Email :</strong>
        <a href="{{COMPANY_EMAIL_ADDRESS_LINK}}">{{COMPANY_EMAIL_ADDRESS}}</a>
        <br />
        <strong>Phone: </strong>
        <a href="{{COMPANY_PHONE_NUMBER_LINK}}">{{COMPANY_PHONE_NUMBER}}</a>
        <br />
        <strong>Address :</strong> {{COMPANY_ADDRESS}}.
    </address>
    <p>
        <strong>
            By using our website and services, you agree to the terms of this
            Terms of Service. Effective Date: {{LEGAL_UPDATE_DATE}}.
        </strong>
    </p>
</section>
